{% load static %}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="{% static "js/progressbar.js" %}"></script>
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    * {
        position: relative;
        font-family: 'Press Start 2P', cursive;
    }

    #container {
        margin: 30px;
    }

    .country {
        display: inline-block;
    }

    .country-outer {
        padding:5px;
    }

    .country__container {
        display: flex;
    }

    .country__info {
        font-size: 15px;
    }

    .country__info-emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .country__info-emoji img{
        width: 100%
    }
    
    .country__data {
        display: inline-block;
        font-size: 10px;
    }

    .country__data-cases, .country__data-deaths {
        height: 30px;
        font-size: 20px;
    }

    .country__data svg {
        height: 100%;
        display: block;
    }

    .pixelated {
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    }
</style>
</head>
<body>
<h1>P O L Y MEGA T H I C C Progress!</h1>
<template id ="row-template">
<div class="row"></div>
</template>
<div id="container"></div>
<template id="country-template">
    <div class="country-outer col-sm-12 col-md-6 col-lg-6 col-xl-4" />
        <div class="country col-12 nes-container with-title">
            <h3 class="country__info-name title">Country Name</h3>
            <div class="country__container">
                <div class="country__info col-3">
                    <div class="country__info-emoji"></div>
                </div>
                <div class="country__data col-9">
                    <div class="country__data-cases"></div>
                    <div><span class="country__data-case-minutes"></span><span class="country__data-case-inbetween"> case every </span><span class="country__data-case-rate"></span></div>
                    <div class="country__data-deaths"></div>
                    <div><span class="country__data-death-minutes"></span><span class="country__data-death-inbetween"> death every </span><span class="country__data-death-rate"></span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const CONTAINER = document.querySelector('#container')

    //TODO: Pool audio objects so they can be played in parallel
    //          create new object if all current objects are busy
    const confirmed_audio = new Audio('{% static "sounds/confirmed.wav" %}');
    var confirmed_audio_pool = [confirmed_audio];
    const death_audio = new Audio('{% static "sounds/death.wav" %}');
    var death_audio_pool = [death_audio];

    function playAudio(event){
        var ready_audio;
        if (event == 'confirmed') {
            for (var i = 0; i< confirmed_audio_pool.length; i++)
            {
                var element = confirmed_audio_pool[i];
                if (element.paused) {
                    ready_audio = element;
                    break;
                }
            }
            if (ready_audio == null){
                ready_audio = confirmed_audio.cloneNode();
                confirmed_audio_pool.push(ready_audio);
            }
        } else if (event == 'death') {
            for (var i = 0; i< death_audio_pool.length; i++)
            {
                var element = death_audio_pool[i];
                if (element.paused) {
                    ready_audio = element;
                    break;
                }
            }
            if (ready_audio == null){
                ready_audio = death_audio.cloneNode();
                death_audio_pool.push(ready_audio);
            }
        }
        ready_audio.play();
    }
    

    // wrapper for fetching data and returning it as JSON
    const fetchJSON = async (url) => {
        const response = await fetch(url);
        const data = await response.json();
        return data;
    }

    // get country meta information from `countries-list` npm package
    const metaCountryInfo = async () => {
        // TODO; copy this file for local consumption, maybe?
        const information = await fetchJSON('https://cdn.jsdelivr.net/npm/countries-list@2.5.4/dist/countries.emoji.json');
        return information
    }

    // get lookup table from source data's lookup table
    const covidCountryLookUpTable = async () => {
        // I HATE THIS CSV CONVERSION CODE BUT I COPIED AND PASTED SO, EH!
        function CSVToJSON(csvData) {
            var data = CSVToArray(csvData);
            var objData = [];
            for (var i = 1; i < data.length; i++) {
                objData[i - 1] = {};
                for (var k = 0; k < data[0].length && k < data[i].length; k++) {
                    var key = data[0][k];
                    objData[i - 1][key] = data[i][k]
                }
            }
            var jsonData = JSON.stringify(objData);
            jsonData = jsonData.replace(/},/g, "},\r\n");
            return jsonData;
        }

        function CSVToArray(csvData, delimiter) {
            delimiter = (delimiter || ",");
            var pattern = new RegExp((
            "(\\" + delimiter + "|\\r?\\n|\\r|^)" +
            "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
            "([^\"\\" + delimiter + "\\r\\n]*))"), "gi");
            var data = [[]];
            var matches = null;
            while (matches = pattern.exec(csvData)) {
                var matchedDelimiter = matches[1];
                if (matchedDelimiter.length && (matchedDelimiter != delimiter)) {
                    data.push([]);
                }
                if (matches[2]) {
                    var matchedDelimiter = matches[2].replace(
                    new RegExp("\"\"", "g"), "\"");
                } else {
                    var matchedDelimiter = matches[3];
                }
                data[data.length - 1].push(matchedDelimiter);
            }
            return (data);
        }

        const lookupTable = await fetch('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv');
        const text = await lookupTable.text();
        return JSON.parse(CSVToJSON(text));
    }

    // get our covid data
    const covidFetch = async () => {
        return await fetchJSON(`/api/v1/countries/`);
    }

    // convert country names to a safe name to use as an unique identifier
    const createSafeName = (name) => {
        return name
            .replace('*', '')
            .replace(',', '')
            .replace('(', '')
            .replace(')', '')
            .replace("'", '')
            .split(' ')
            .join('_')
            .toLowerCase();
    }
    
    const countryTemplate = document.querySelector('#country-template');
    const rowTemplate = document.querySelector('#row-template');
    const createCountryElementAndAppend = (country) => {
        const { name, safe_name, emoji, current_case_rate, current_death_rate } = country
        // clone template
        const el = countryTemplate.content.cloneNode(true);

        // find outer container div and set id
        const container = el.querySelector('.country');
        container.id = safe_name;
        
        // find emoji icon div and place content
        const emojiEl = el.querySelector('.country__info-emoji');
        emojiEl.innerHTML = "<img class=\"pixelated\" src=\"{% static "images/flags/" %}"+name.toLowerCase()+".png\" />";
        // find name icon div and place content
        const nameEl = el.querySelector('.country__info-name');
        nameEl.innerText = name;

        var rows = CONTAINER.children;
        console.log(rows + ": " + rows.length.toString());
        var candidate_row = null;
        for (var i=0; i<rows.length; i++){
            var row_children = rows[i].children;
            if (row_children.length >= 12){
                continue;
            } else {
                candidate_row = rows[i];
                break;
            }
        }

        if (candidate_row == null) {
            var cloned_row = rowTemplate.content.cloneNode(true);
            candidate_row = CONTAINER.appendChild(cloned_row);

            // This is really gross but it doesn't seem to set candidate_row to the right instance for every first call
            rows = CONTAINER.children;
            candidate_row = null;
            for (var i=0; i<rows.length; i++){
                var row_children = rows[i].children;
                if (row_children.length >= 12){
                    continue;
                } else {
                    candidate_row = rows[i];
                    break;
                }
            }
        }

        // append template to content
        candidate_row.appendChild(el);

        setTimeout(() => {
            updateCurrentRate(safe_name, current_case_rate, 'case');
            updateCurrentRate(safe_name, current_death_rate, 'death');
        }, 0)
        
    }

    function updateCurrentRate(country, current_rate, rate_type='case') {
        const el = CONTAINER.querySelector('#' + country.toLowerCase());
        // set case values
        const caseMinuteEl = el.querySelector('.country__data-' + rate_type + '-minutes');
        const caseRateEl = el.querySelector('.country__data-' + rate_type + '-rate');
        const caseInbetweenEl = el.querySelector('.country__data-' + rate_type + '-inbetween');
        if ((current_rate <= 0) || (current_rate >= Infinity)) {
            // TODO: fix those that are negative numbers to remove this condition
            caseMinuteEl.innerText = '';
            caseRateEl.innerText = '';
            caseInbetweenEl.innerText = "Stable"
        } else if (current_rate <= (1000 * 100)) {
            caseMinuteEl.innerText = 1;
            caseRateEl.innerText = (current_rate / 1000).toFixed(2).toString() + ' seconds';
        } else {
            caseMinuteEl.innerText = '1';
            caseRateEl.innerText = `${Math.round(current_rate / 1000 / 60)} minutes`;
        }
    }

    window.onload = async function () {
        /* 1. get list of countries, country info and lookup table info */
        const countries = await covidFetch();
        const countryInfo = await metaCountryInfo();
        const lookupTableData = await covidCountryLookUpTable();

        /* 2. Compose the appropriate information together from both countries and countryInfo */
        const processedCountries = countries.map(country => {
            // set default return values
            const defaultContent = {
                ...country,
                safe_name: createSafeName(country.name),
                emoji: '⚑'
            };

            // gather calculations
            const calculations = processCountryData(country);

            // find country in lookup table, if available
            const lookupTable = lookupTableData.find(lt => lt.Country_Region === country.name);
            // set country code to gather additional info (i.e. emoji) else don't return anything
            const countryCode = lookupTable ? lookupTable.iso2 : '';
            // find actual country info from country code
            const foundCountryInfo = countryInfo[countryCode];
            // return combined values
            return {
                ...defaultContent,
                ...calculations,
                ...foundCountryInfo
            }
        })

        /* 3. Create country elements */
        processedCountries.forEach(createCountryElementAndAppend);

        /* 4. Wait for next dom render to attach bar */
        setTimeout(() => {
            for (let i = 0; i < processedCountries.length; i++) {
                const country = processedCountries[i];
                const countryEl = CONTAINER.querySelector(`#${country.safe_name}`);
                const casesEl = countryEl.querySelector('.country__data-cases');
                const deathsEl = countryEl.querySelector('.country__data-deaths');

                build_case_bar(casesEl, country);
                build_death_bar(deathsEl, country);
            }
        }, 0)
    }

    /**** Maths ****/
    function poly_three(x, formula) {
        const { a, b, c, d } = formula;
        return a * Math.pow(x, 3) + b * Math.pow(x, 2)  + c * x + d;
    }

    function poly_three_dx(x, formula) {
        const { a, b, c } = formula;
        return 3 * a * Math.pow(x, 2) + 2 * b * x  + c;
    }

    /**** Bar Callback ****/
    function bar_callback(bar, country, rate_type='case') {
        var calculations = processCountryData(country);
        if (rate_type == 'case'){
            playAudio('confirmed');
            if (calculations.current_case_rate <= 0){
                bar.setText(country.latest_confirmed_count);
                bar.set(0);
                updateCurrentRate(country.safe_name, country.latest_confirmed_count, 'case')
            } else {
                bar.setText(Math.floor(calculations.current_cases));
                bar.set(calculations.current_case_progress);
                updateCurrentRate(country.safe_name, country.current_case_rate, 'case')
                bar.animate(1.0, {duration: calculations.case_finish_time}, function(){bar_callback(bar, country, rate_type)});
            }
        } else if (rate_type == 'death') {
            playAudio('death');
            if (calculations.current_death_rate <= 0){
                bar.setText(country.latest_death_count);
                bar.set(0);
                updateCurrentRate(country.safe_name, country.latest_death_count, 'death')
            } else {
                bar.setText(Math.floor(calculations.current_deaths));
                bar.set(calculations.current_death_progress);
                updateCurrentRate(country.safe_name, country.current_death_rate, 'death')
                bar.animate(1.0, {duration: calculations.death_finish_time}, function(){bar_callback(bar, country, rate_type)});
            }
        }
    }

    function processCountryData(country) {
        // Find difference in time between last dataset update and now
        var t_zero_array = country.t_zero.split('-').map(Number);
        var current_date = new Date().getTime();
        var t_zero = Date.UTC(t_zero_array[0], t_zero_array[1]-1, t_zero_array[2])
        // Represent time in decimal days from last dataset update
        var x = (current_date - t_zero) / 1000 / 3600 / 24;
        // Get current number of cases by applying third order polynomial
        var current_cases = poly_three(x, country.confirmed_formula);
        // Get current fraction of cases (so that we can start our progress bar in the right place)
        var current_case_progress = current_cases % 1;
        // Period of new confirmed cases in ms
        var current_case_rate = 1000 / (poly_three_dx(x, country.confirmed_formula) / 24 / 3600);
        // Remaining time in progress bar until it reaches end of *current* case
        var case_finish_time = current_case_rate - current_case_progress * current_case_rate;

        // Get current number of cases by applying third order polynomial
        var current_deaths = poly_three(x, country.death_formula);
        // Get current fraction of cases (so that we can start our progress bar in the right place)
        var current_death_progress = current_deaths % 1;
        // Period of new confirmed cases in ms
        var current_death_rate = 1000 / (poly_three_dx(x, country.death_formula) / 24 / 3600);
        // Remaining time in progress bar until it reaches end of *current* case
        var death_finish_time = current_death_rate - current_death_progress * current_death_rate;

        return {
            current_cases,
            current_case_progress,
            current_case_rate,
            case_finish_time,
            current_deaths,
            current_death_progress,
            current_death_rate,
            death_finish_time,
            // Will we need the following:
            // x,
            // t_zero,
            // current_date,
            // t_zero_array
        }
    }

    function build_case_bar(el, country) {
        const { current_cases, current_case_progress, current_case_rate, case_finish_time } = country;
        const cases = Math.floor(current_cases);

        const bar = new ProgressBar.Line(el, {
            strokeWidth: 4,
            easing: 'linear',
            duration: 2000,
            color: '#02A2E8',
            trailColor: '#eee',
            trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            text: {
                style: {
                    // Text color.
                    // Default: same as stroke color (options.color)
                    color: '#000',
                    position: 'absolute',
                    left: '50%',
                    top: '50%',
                    padding: 0,
                    margin: 0,
                    transform: {
                        prefix: true,
                        value: 'translate(-50%, -50%)'
                    }
                },
                autoStyleContainer: false
            },
            from: {color: '#02A2E8'},
            to: {color: '#7F7F7F'},
        });

        if (current_case_rate <= 0){
            bar.setText(country.latest_confirmed_count);
            bar.set(0);
        } else {
            // Do the bar thing.
            bar.setText(cases);
            bar.set(current_case_progress);
            if (case_finish_time >= 0)
                bar.animate(1.0, {duration: case_finish_time}, function(){bar_callback(bar, country, 'case')});
        }
    };

    function build_death_bar(el, country) {
        const { current_deaths, current_death_progress, current_death_rate, death_finish_time } = country;
        const deaths = Math.floor(current_deaths);

        const bar = new ProgressBar.Line(el, {
            strokeWidth: 4,
            easing: 'linear',
            duration: 2000,
            color: '#f33',
            trailColor: '#eee',
            trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            text: {
                style: {
                    // Text color.
                    // Default: same as stroke color (options.color)
                    color: '#000',
                    position: 'absolute',
                    left: '50%',
                    top: '50%',
                    padding: 0,
                    margin: 0,
                    transform: {
                        prefix: true,
                        value: 'translate(-50%, -50%)'
                    }
                },
                autoStyleContainer: false
            },
            from: {color: '#02A2E8'},
            to: {color: '#7F7F7F'},
        });

        if (current_death_rate <= 0){
            bar.setText(country.latest_death_count);
            bar.set(0);
        } else {
            // Do the bar thing.
            bar.setText(deaths);
            bar.set(current_death_progress);
            if (death_finish_time >= 0)
                bar.animate(1.0, {duration: death_finish_time}, function(){bar_callback(bar, country, 'death')});
        }
    };
</script>
</body>

</html>