{% load static %}
<!doctype html>
<html>
<head>
<title>Covid-19 Loader</title>
<meta property="og:image" content="{% static "images/social.png" %}" />
<meta property="og:image:width" content="180" />
<meta property="og:image:height" content="110" />
<meta name="twitter:card" content="Listen to the rate of COVID-19. These are projections of what's happening right now.">
<meta name="twitter:url" content="https://covidloader.com">
<meta name="twitter:title" content="Covid Loader: Listen to the spread">
<meta name="twitter:description" content="Listen to the rate of COVID-19. These are projections of what's happening right now.">
<meta name="twitter:image" content="{% static "images/social.png" %">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://rawgit.com/jeremyckahn/shifty/gh-pages/shifty.js" crossorigin="anonymous"></script>
<link href="https://ghcdn.rawgit.org/sadmoody/covid-predictor/master/static/css/nes.min.css" rel="stylesheet" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/gh/nostalgic-css/NES.css@2.3.0/docs/lib/dialog-polyfill.css" rel="stylesheet" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/gh/nostalgic-css/NES.css@2.3.0/docs/lib/dialog-polyfill.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/nostalgic-css/NES.css@2.3.0/docs/lib/vue.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/howler@2.1.3/dist/howler.min.js" integrity="sha256-/Q4ZPy6sMbk627wHxuaWSIXS1y7D2KnMhsm/+od7ptE=" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link href="{% static "css/style.css" %}" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body data-loading="true">   
<div id="sound" class="nes-container is-rounded">
  <img class="pixelated" id="sound-control" src="{% static 'images/ui/unmute.png' %}" />
</div> 
<div id="anxiety-modal" class="nes-container is-rounded">
  <p><a href="/animals">Anxious?</a></p>
</div> 
<div id="container">
    <div class="row" id="top-container">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8" style="display: block; align-items: center; justify-content: center;">
            <h2 style="text-align: center;">Covid-19 Loader</h2>
            <br />
            <p style="text-align: center;">These are <span class="nes-text is-primary">projections</span> of what's happening <span class="nes-text is-error">right now</span>.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" style="display: flex; align-items: center; justify-content: center;">
            <div class="nes-select">
                <select required id="sort-selector">
                    <option value="name">Alphabetical</option>
                    <option value="caseCount">Cases</option>
                    <option value="caseRate" selected>Case Rate</option>
                    <option value="deathCount">Deaths</option>
                    <option value="deathRate">Death Rate</option>
                </select>
            </div>
        </div>
        <div class="col-12" style="text-align:right">
            <a class="nes-badge" style="text-align:left" onclick="document.getElementById('dialog-default').showModal();">
                <span class="is-dark">about</span>
            </a>
            <a id="dark-mode-button" class="nes-badge is-icon" style="width:10.5em;text-align:center">
                <span class="nes-badge__badge is-primary" style="left:auto">off</span>
                <span class="nes-badge__text is-warning">dark mode</span>
            </a>
        </div>
        <dialog class="nes-dialog" id="dialog-default" tabindex="-1" role="dialog" aria-hidden="true">
            <form method="dialog">
            <p>Visualising large numbers is very <span class="nes-text is-error">hard</span> for humans. Can you visualise the difference between 100,000 and 1,000,000 apart from being "a lot"? <span class="nes-text is-warning">Probably not</span>. So we’ve made something that might help with showing the speed of COVID-19 spread through both sight and sound!</p>
            <p>Projections are based on the previous 14 days’ worth of data to show the current state of the world. They might be a little different than the official numbers coming out - but they should be pretty close... We're trying to predict the future here!</p>
            <p>Every <span class="nes-text is-primary">beep</span> you hear is a <span class="nes-text is-primary">new case</span> of COVID-19, and every <span class="nes-text is-error">rumble</span> you hear is a <span class="nes-text is-error">death</span></p>
            <p>This website was built <a href="https://twitch.tv/sadmoody/" target="_blank" style="color:#9146FF">live on twitch by sadmoody</a>. Throw me a follow and come hang out next time I'm live!</p>
            <p>Thanks so much to <a href="https://twitter.com/vinny_code" class="nes-text is-success">vinny_code</a> for all the help, and zero thanks to the chat for keeping me constantly distracted.</p>
            <p><span class="nes-text is-primary">Stay inside. Wash your hands. Stay safe.</span></p>
            <span style="text-align:center; display: inherit;">
                <a href="https://twitch.tv/sadmoody/" target="_blank"><i class="nes-icon twitch is-large"></i></a>
                <a href="https://twitter.com/MoodyHikmet" target="_blank"><i class="nes-icon twitter is-large"></i></a>
                <a href="https://github.com/sadmoody/covid-predictor" target="_blank"><i class="nes-icon github is-large"></i></a>
            </span>
            <br />
            <span style="text-align:center; display: inherit;">
                <button class="nes-btn is-primary" >Okay</button>
            </span>
            <br />
            <span style="text-align:center; display: inherit;">
                <p>© Mahmood Hikmet 2020</p>
            </span>
                
            </form>
        </dialog>
    </div>
    <div class="row" id="loading">
        <div class="col">
            <div class="nes-container with-title">
                <p class="title">Loading...</p>
                <div>
                    <progress id="loading-bar" class="nes-progress is-primary" value="1" max="100"></progress>
                    <div id="loading-text">Loading...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="country-container">
    </div>
</div>
<template id="country-template">
    <div class="country-outer col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="country col-12 nes-container with-title" 
        data-case-count
        data-case-rate
        data-death-count
        data-death-rate >
            <h3 class="country__info-name title">Country Name</h3>
            <div class="country__container">
                <div class="country__info col-4">
                    <div class="country__info-emoji"></div>
                </div>
                <div class="country__data col-8">
                    <div>
                        <progress class="country__data-cases nes-progress is-primary" value="0" max="1"></progress>
                        <div class="country__data-cases-text"></div>
                    </div>
                    <div><span class="country__data-case-minutes"></span><span class="country__data-case-inbetween"> case every </span><span class="country__data-case-rate"></span></div>
                    
                    <div>
                        <progress class="country__data-deaths nes-progress is-error" value="0" max="1"></progress>
                        <div class="country__data-deaths-text"></div>
                    </div>
                    <div><span class="country__data-death-minutes"></span><span class="country__data-death-inbetween"> death every </span><span class="country__data-death-rate"></span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="{% static "js/script.js" %}" static-url="{% static ""%}" crossorigin="anonymous"></script>

</body>

</html>
