{% load static %}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://rawgit.com/jeremyckahn/shifty/gh-pages/shifty.js" crossorigin="anonymous"></script>
<link href="{% static "css/nes.min.css" %}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    * {
        position: relative;
        font-family: 'Press Start 2P', cursive;
    }

    #container {
        margin: 30px;
    }

    .country {
        display: inline-block;
    }

    .country-outer {
        padding:5px;
    }

    .country__container {
        display: flex;
    }

    .country__info {
        font-size: 15px;
    }

    .country__info-emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .country__info-emoji img{
        width: 100%
    }
    
    .country__data {
        display: inline-block;
        font-size: 10px;
    }

    .country__data-cases, .country__data-deaths {
        height: 30px;
        font-size: 20px;
    }
    
    .country__data-cases-text, .country__data-deaths-text {
        position: absolute;
        text-align: center;
        top: 12px;
        width: 100%;
    }

    .country__data svg {
        height: 100%;
        display: block;
    }

    .pixelated {
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    }

    .invisible {
        display: none;
    }
</style>
</head>
<body>    
<div id="container">
    <div class="row" id="top-container">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8">
            <h1>Covid-19 Loader</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="nes-select">
                <select required id="sort-selector">
                    <option value="" disabled selected hidden>Sort...</option>
                    <option value="name">Alphabetical</option>
                    <option value="caseCount">Most Cases</option>
                    <option value="deathCount">Most Deaths</option>
                    <option value="caseRate">Fastest Case Rate</option>
                    <option value="deathRate">Fastest Death Rate</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="country-container">
    </div>
</div>
<template id="country-template">
    <div class="country-outer col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="country col-12 nes-container with-title" 
        data-case-count
        data-case-rate
        data-death-count
        data-death-rate >
            <h3 class="country__info-name title">Country Name</h3>
            <div class="country__container">
                <div class="country__info col-3">
                    <div class="country__info-emoji"></div>
                </div>
                <div class="country__data col-9">
                    <div>
                        <progress class="country__data-cases nes-progress is-primary" value="0" max="1"></progress>
                        <div class="country__data-cases-text"></div>
                    </div>
                    <div><span class="country__data-case-minutes"></span><span class="country__data-case-inbetween"> case every </span><span class="country__data-case-rate"></span></div>
                    
                    <div>
                        <progress class="country__data-deaths nes-progress is-error" value="0" max="1"></progress>
                        <div class="country__data-deaths-text"></div>
                    </div>
                    <div><span class="country__data-death-minutes"></span><span class="country__data-death-inbetween"> death every </span><span class="country__data-death-rate"></span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const CONTAINER = document.querySelector('#country-container');

    //TODO: Pool audio objects so they can be played in parallel
    //          create new object if all current objects are busy
    const confirmed_audio = new Audio('{% static "sounds/confirmed.wav" %}');
    var confirmed_audio_pool = [confirmed_audio];
    const death_audio = new Audio('{% static "sounds/death.wav" %}');
    var death_audio_pool = [death_audio];

    function playAudio(event){
        var ready_audio;
        if (event == 'confirmed') {
            for (var i = 0; i< confirmed_audio_pool.length; i++)
            {
                var element = confirmed_audio_pool[i];
                if (element.paused) {
                    ready_audio = element;
                    break;
                }
            }
            if (ready_audio == null){
                ready_audio = confirmed_audio.cloneNode();
                confirmed_audio_pool.push(ready_audio);
            }
        } else if (event == 'death') {
            for (var i = 0; i< death_audio_pool.length; i++)
            {
                var element = death_audio_pool[i];
                if (element.paused) {
                    ready_audio = element;
                    break;
                }
            }
            if (ready_audio == null){
                ready_audio = death_audio.cloneNode();
                death_audio_pool.push(ready_audio);
            }
        }
        ready_audio.play();
    }
    

    // wrapper for fetching data and returning it as JSON
    const fetchJSON = async (url) => {
        const response = await fetch(url);
        const data = await response.json();
        return data;
    }

    // get country meta information from `countries-list` npm package
    const metaCountryInfo = async () => {
        // TODO; copy this file for local consumption, maybe?
        const information = await fetchJSON('https://cdn.jsdelivr.net/npm/countries-list@2.5.4/dist/countries.emoji.json');
        return information
    }

    // get lookup table from source data's lookup table
    const covidCountryLookUpTable = async () => {
        // I HATE THIS CSV CONVERSION CODE BUT I COPIED AND PASTED SO, EH!
        function CSVToJSON(csvData) {
            var data = CSVToArray(csvData);
            var objData = [];
            for (var i = 1; i < data.length; i++) {
                objData[i - 1] = {};
                for (var k = 0; k < data[0].length && k < data[i].length; k++) {
                    var key = data[0][k];
                    objData[i - 1][key] = data[i][k]
                }
            }
            var jsonData = JSON.stringify(objData);
            jsonData = jsonData.replace(/},/g, "},\r\n");
            return jsonData;
        }

        function CSVToArray(csvData, delimiter) {
            delimiter = (delimiter || ",");
            var pattern = new RegExp((
            "(\\" + delimiter + "|\\r?\\n|\\r|^)" +
            "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +
            "([^\"\\" + delimiter + "\\r\\n]*))"), "gi");
            var data = [[]];
            var matches = null;
            while (matches = pattern.exec(csvData)) {
                var matchedDelimiter = matches[1];
                if (matchedDelimiter.length && (matchedDelimiter != delimiter)) {
                    data.push([]);
                }
                if (matches[2]) {
                    var matchedDelimiter = matches[2].replace(
                    new RegExp("\"\"", "g"), "\"");
                } else {
                    var matchedDelimiter = matches[3];
                }
                data[data.length - 1].push(matchedDelimiter);
            }
            return (data);
        }

        const lookupTable = await fetch('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv');
        const text = await lookupTable.text();
        return JSON.parse(CSVToJSON(text));
    }

    // get our covid data
    const covidFetch = async () => {
        return await fetchJSON(`/api/v1/countries/`);
    }

    // convert country names to a safe name to use as an unique identifier
    const createSafeName = (name) => {
        return name
            .replace('*', '')
            .replace(',', '')
            .replace('(', '')
            .replace(')', '')
            .replace("'", '')
            .split(' ')
            .join('_')
            .toLowerCase();
    }
    
    const countryTemplate = document.querySelector('#country-template');
    const createCountryElementAndAppend = (country) => {
        const { name, safe_name, emoji, current_case_rate, current_death_rate, current_cases, current_deaths } = country
        // clone template
        const el = countryTemplate.content.cloneNode(true);

        // find outer container div and set id
        const container = el.querySelector('.country');
        container.id = safe_name;
        
        // find emoji icon div and place content
        const emojiEl = el.querySelector('.country__info-emoji');
        emojiEl.innerHTML = "<img class=\"pixelated\" src=\"{% static "images/flags/" %}"+name.toLowerCase()+".png\" />";
        // find name icon div and place content
        const nameEl = el.querySelector('.country__info-name');
        nameEl.innerText = name;

        CONTAINER.appendChild(el);

        setTimeout(() => {
            updateCurrentRate(safe_name, current_case_rate, 'case');
            updateCurrentRate(safe_name, current_death_rate, 'death');
            if (current_case_rate <= 0){
                update_data_fields(country.safe_name, country.latest_confirmed_count, Infinity, 'case');
            } else {
                update_data_fields(country.safe_name, current_cases, current_case_rate, 'case');
            }
            if (current_death_rate <= 0){
                update_data_fields(country.safe_name, country.latest_death_count, Infinity, 'death');
            } else {
                update_data_fields(country.safe_name, current_deaths, current_death_rate, 'death');
            }
        }, 0)
        
    }

    function updateCurrentRate(country, current_rate, rate_type='case') {
        const el = CONTAINER.querySelector('#' + country.toLowerCase());

        // set case values
        const caseMinuteEl = el.querySelector('.country__data-' + rate_type + '-minutes');
        const caseRateEl = el.querySelector('.country__data-' + rate_type + '-rate');
        const caseInbetweenEl = el.querySelector('.country__data-' + rate_type + '-inbetween');
         
        if ((current_rate <= 0) || (current_rate >= Infinity)) {
            // TODO: fix those that are negative numbers to remove this condition
            caseMinuteEl.innerText = '';
            caseRateEl.innerText = '';
            caseInbetweenEl.innerText = "Stable"
        } else if (current_rate <= (1000 * 100)) {
            caseMinuteEl.innerText = 1;
            caseRateEl.innerText = (current_rate / 1000).toFixed(2).toString() + ' seconds';
        } else {
            caseMinuteEl.innerText = '1';
            caseRateEl.innerText = `${Math.round(current_rate / 1000 / 60)} minutes`;
        }
    }

    window.onload = async function () {
        /* 1. get list of countries, country info and lookup table info */
        const countries = await covidFetch();
        const countryInfo = await metaCountryInfo();
        const lookupTableData = await covidCountryLookUpTable();

        /* 2. Compose the appropriate information together from both countries and countryInfo */
        const processedCountries = countries.map(country => {
            // set default return values
            const defaultContent = {
                ...country,
                safe_name: createSafeName(country.name),
                emoji: '⚑'
            };

            // gather calculations
            const calculations = processCountryData(country);

            // find country in lookup table, if available
            const lookupTable = lookupTableData.find(lt => lt.Country_Region === country.name);
            // set country code to gather additional info (i.e. emoji) else don't return anything
            const countryCode = lookupTable ? lookupTable.iso2 : '';
            // find actual country info from country code
            const foundCountryInfo = countryInfo[countryCode];
            // return combined values
            return {
                ...defaultContent,
                ...calculations,
                ...foundCountryInfo
            }
        })

        /* 3. Create country elements */
        processedCountries.forEach(createCountryElementAndAppend);

        /* 4. Wait for next dom render to attach bar */
        setTimeout(() => {
            for (let i = 0; i < processedCountries.length; i++) {
                const country = processedCountries[i];
                const countryEl = CONTAINER.querySelector(`#${country.safe_name}`);
                const casesEl = countryEl.querySelector('.country__data-cases');
                const casesTextEl = countryEl.querySelector('.country__data-cases-text');
                const deathsEl = countryEl.querySelector('.country__data-deaths');
                const deathsTextEl = countryEl.querySelector('.country__data-deaths-text');

                build_bar(casesEl, casesTextEl, country, 'case');
                build_bar(deathsEl, deathsTextEl, country, 'death');
            }
        }, 0)
    }

    /**** Maths ****/
    function poly_three(x, formula) {
        const { a, b, c, d } = formula;
        return a * Math.pow(x, 3) + b * Math.pow(x, 2)  + c * x + d;
    }

    function poly_three_dx(x, formula) {
        const { a, b, c } = formula;
        return 3 * a * Math.pow(x, 2) + 2 * b * x  + c;
    }

    function update_data_fields(country, current_count, current_rate, rate_type='case') {
        const el = CONTAINER.querySelector('#' + country.toLowerCase());
        el.dataset[rate_type + 'Count'] = current_count;
        el.dataset[rate_type + 'Rate'] = current_rate;
        el.dataset['name'] = country;
    }

    function processCountryData(country) {
        // Find difference in time between last dataset update and now
        var t_zero_array = country.t_zero.split('-').map(Number);
        var current_date = new Date().getTime();
        var t_zero = Date.UTC(t_zero_array[0], t_zero_array[1]-1, t_zero_array[2])
        // Represent time in decimal days from last dataset update
        var x = (current_date - t_zero) / 1000 / 3600 / 24;
        // Get current number of cases by applying third order polynomial
        var current_cases = poly_three(x, country.confirmed_formula);
        // Get current fraction of cases (so that we can start our progress bar in the right place)
        var current_case_progress = current_cases % 1;
        // Period of new confirmed cases in ms
        var current_case_rate = 1000 / (poly_three_dx(x, country.confirmed_formula) / 24 / 3600);
        // Remaining time in progress bar until it reaches end of *current* case
        var case_finish_time = current_case_rate - current_case_progress * current_case_rate;

        // Get current number of cases by applying third order polynomial
        var current_deaths = poly_three(x, country.death_formula);
        // Get current fraction of cases (so that we can start our progress bar in the right place)
        var current_death_progress = current_deaths % 1;
        // Period of new confirmed cases in ms
        var current_death_rate = 1000 / (poly_three_dx(x, country.death_formula) / 24 / 3600);
        // Remaining time in progress bar until it reaches end of *current* case
        var death_finish_time = current_death_rate - current_death_progress * current_death_rate;

        return {
            case: {
                current: current_cases,
                progress: current_case_progress,
                rate: current_case_rate,
                finish_time: case_finish_time,
                confirmed_count: country.latest_confirmed_count
            },
            death: {
                current: current_deaths,
                progress: current_death_progress,
                rate: current_death_rate,
                finish_time: death_finish_time,
                confirmed_count: country.latest_death_count
            }
            // Will we need the following:
            // x,
            // t_zero,
            // current_date,
            // t_zero_array
        }
    }

    function build_bar(el, text_element, country, type) {
        const audio_file_name = type === 'case' ? 'confirmed' : 'death';

        const calculations = processCountryData(country);
        const { safe_name } = country
        const { current, rate, progress, finish_time, confirmed_count } = calculations[type];

        const value = Math.floor(current);
        
        updateCurrentRate(safe_name, rate, type);
        if (rate <= 0)
        {
          update_data_fields(safe_name, type === 'case' ? country.latest_confirmed_count : country.latest_death_count, Infinity, type);
        } else {
          update_data_fields(safe_name, current, rate, type); 
        }

        if (!Number.isFinite(rate) || rate <= 0) {
            text_element.innerText = confirmed_count;
            el.value = 0;
            return
        }

        el.value = progress * 100;
        text_element.innerText = value;

        shifty.tween({
            from: { x: progress },
            to: { x: 1 },
            duration: finish_time,
            step: (state) => {
                el.value = state.x;
            }
        }).then(state => {
            playAudio(audio_file_name);
            el.value = state.x;
            build_bar(el, text_element, country, type)
        });
    };

    function sort_elements(attribute, parent_element_id, filter, depth=0, multiplier = 1.0, discrete=false) {
        var parent_element = document.getElementById(parent_element_id);
        var children = parent_element.querySelectorAll(filter);
        var reordered = Array.from(children);
        if (discrete) {
            reordered.sort(function (a, b) {
                var val = 0;
                if (a.dataset[attribute] > b.dataset[attribute]) {
                    val = -1;
                }
                if (b.dataset[attribute] > a.dataset[attribute]) {
                    val = 1;
                }
                return val * multiplier;
            });
        } else {
            reordered.sort(function(a, b){
                return (multiplier * (parseFloat(a.dataset[attribute]) - parseFloat(b.dataset[attribute])));
            });
        }
        for(var child_index in reordered) {
            var currentNode = reordered[child_index];
            for (var i=0; i<depth; i++)
                currentNode = currentNode.parentNode;
            parent_element.appendChild(currentNode);    
        }
    }

    document.getElementById("sort-selector").onchange = changeListener;
    
    function changeListener(){
        var value = this.value;
        switch (value) {
            case 'caseCount':
            case 'deathCount':
                sort_elements(value, 'country-container', '.country-outer .country', depth=1, multiplier=-1.0);
                break;
            case 'caseRate':
            case 'deathRate':
                sort_elements(value, 'country-container', '.country-outer .country', depth=1, multiplier=1.0);
                break;
            case 'name':
            default:
                sort_elements('name', 'country-container', '.country-outer .country', depth=1, multiplier=-1.0, discrete=true);
        }
        
    }

</script>
</body>

</html>